.CityCard {
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;

  .imageWrapper {
    position: relative;
    aspect-ratio: 19/9;
    overflow: hidden;
  }

  .actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-block: .5em;



    .title {
      text-align: center;
      
      h2 {
        font-size: 22px;
        margin-bottom: 6px;
        color: #2c3e50;
      }
    }

    .viewMap,
    .viewRecommendations {
      text-align: center;
      display: grid;
      align-items: center;
      color: darkslategray;
      text-decoration: none;
      font-size: 14px;

      &:hover {
        color: #0056b3;
      }
    }
  }
}