.CityCard {
  position: relative;
  aspect-ratio: 4 / 6;
  border-radius: 16px;
  background-color: #ffffff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .imageWrapper {
    position: relative;
    aspect-ratio: 8/7;
    overflow: hidden;
  }

  .title {
    text-align: center;

    h2 {
      font-size: 22px;
      color: #2c3e50;
    }
  }

  .Notation {
    display: flex;
    justify-content: center;
    gap: 6px;

    .notationDot {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: #ff9eb5;
    }
  }

  .viewMap,
  .viewRecommendations {
    text-align: center;
    color: darkslategray;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: #0056b3;
    }
  }
}