.PlaceCard {
  display: flex;
  background-color: #ffffff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
  padding: .5em;
  border-bottom: 1px solid red;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .imageWrapper {
    aspect-ratio: 16 / 9;
    min-width: 150px;
    position: relative;
    overflow: hidden;
    margin-right: .5em;
  }

  .edito {
    h2 {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      color: #333;
      margin-bottom: 6px;
    }

    span {
      width: 5%;
      height: 1px;
      margin-block: .5em;
      background-color: black;
      color: black;
      display: block;
    }

    p {
      font-size: 14px;
      color: #777;
    }
  }

  .info {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 1em;
  }

  .viewMap {
    color: darkslategray;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      color: #0056b3;
    }
  }
}